*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #7d63b6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0%;
}

.cabecalho-imagem{
    width: 20%;
}

cabecalho-lista-item{
    display: inline-block;
    margin: 5 10px;
    font-size: 30px;
}

