*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #7D63B5;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0%;
}

.cabecalho-imagem{
    width: 8%;
}

cabecalho-lista-item{
    display: inline-block;
    margin: 5 16px;
    font-size: 15px;
}
